h1 {
	text-align: left;
	font-family: roboto;
	font-variant: regular;
font-size: 75px;
font-weight: 50;
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 0%;
	line-height: .5;

}

h2 {
	text-align: left;
	font-family: roboto;
	font-variant: thin;
	font-size: 45px;
	font-weight: 10;
	padding-top: 0%;
	padding-left: 5%;
	line-height: 0;

}

h3{

	text-align: left;
	font-family: roboto;
	font-variant: thin;
	font-size: 25px;
	font-weight: 5;
	padding-top: 5%;
	padding-left: 5%;
}

h4{

	text-align: right;
	font-family: roboto;
	font-variant: thin;
	font size 12px;
	font-weight 10;
	font-kerning: 25px;
	padding-top: 2%;
	padding-right: 2%;
}

div{

	align-content: left;
	font-family: roboto;
	font-variant: thin;
	font-size: 25px;
	font-weight: 5;
	padding-top: 5%;
	padding-left: 5%;
}