h1 {
	text-align: left;
	font-family: 'roboto', sans-serif;
	font-variant: medium;
	font-size: 75px;
	font-weight: 50;
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 0%;
	line-height: .5;

}

h2 {
	text-align: left;
	font-family: 'roboto', sans-serif;
	font-variant: light;
	font-size: 45px;
	font-weight: 10;
	padding-top: 0%;
	padding-left: 5%;
	line-height: 0;

}

h3{

	text-align: left;
	font-family: 'roboto', sans-serif;
	font-variant: light;
	font-size: 25px;
	font-weight: 5;
	padding-top: 5%;
	padding-left: 5%;
}

h4{

	text-align: right;
	font-family: 'roboto', sans-serif;
	font-variant: light;
	font size 12px;
	font-weight 10;
	font-kerning: 25px;
	padding-top: 2%;
	padding-right: 2%;
}

p {
	text-align: left;
	font-family: 'roboto', sans-serif;
	font-variant: regular;
	font-size: 25px;
	font-weight: 5;
	padding-top: 5%;
	padding-left: 5%;
	max-width: 50%;
}

div{

	align-content: left;
	font-family: 'roboto', sans-serif;
	font-variant: light;
	font-size: 25px;
	font-weight: 5;
	padding-top: 5%;
	padding-left: 5%;
}

ul {
padding-top: 5%;
padding-left: 5%;
}

ul li {
	list-style: none;
	display: inline-block;
	float: left;
	font-family: 'roboto', sans-serif;
	font-variant: thin;
	font-size: 25px;
	font-weight: 5;
}

ul li a {
	display: block;
	text-decoration: none;
	padding-right: 20px;
	color: black;
}

ul li a:hover {
	font-variant: bold;
}