@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
h1 {
	text-align: left;
	font-family: roboto, sans-serif;
	font-variant: regular;
    font-size: 75px;
    font-weight: 50;
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 0%;
	line-height: .5;

}

h2 {
	text-align: left;
	font-family: roboto, sans-serif;
	font-variant: thin;
	font-size: 45px;
	font-weight: 10;
	padding-top: 0%;
	padding-left: 5%;
	line-height: 0;

}

h3{

	text-align: left;
	font-family: roboto, sans-serif;
	font-variant: thin;
	font-size: 25px;
	font-weight: 5;
	padding-top: 5%;
	padding-left: 5%;
}

div{

	align-content: left;
	font-family: roboto, sans-serif;
	font-variant: thin;
	font-kerning: 25px;
	font-size: 25px;
	font-weight: 5;
	padding-top: 5%;
	padding-left: 5%;
}
