body {
	font-family: 'roboto', sans-serif;
	font-variant: light;
	background-color: #fbfbfb;
}

h1 {
	text-align: left;
	font-size: 45px;
	font-weight: 10;
	padding-top: 0px;
	padding-left: 70px;
	line-height: 0;
}

h2 {
	text-align: left;
	font-size: 25px;
	font-weight: 5;
	padding-top: 30px;
	padding-left: 70px;
}

h3{

	text-align: left;
	font-size: 25px;
	font-weight: 5;
	padding-top: 30px;
	padding-left: 70px;
}

h4{

	text-align: right;
	font size: 12px;
	font-weight: 10px;
	font-kerning: 25px;
	padding-top: 30px;
	padding-right: 20px;
}

p {
	text-align: left;
	font-variant: "regular";
	font-size: 25px;
	font-weight: 5;
	padding-top: 30px;
	padding-left: 70px;
	max-width: 50%;
}

div{

	align-content: left;
	font-size: 25px;
	font-weight: 5;
	padding-top: 30px;
	padding-left: 70px;
}

ul {
	padding-top: 30px;
	padding-left: 70px;
}

ul li {
	list-style: none;
	display: inline-block;
	float: left;
	font-variant: thin;
	font-size: 25px;
	font-weight: 5;
}

ul li a {
	display: block;
	text-decoration: none;
	padding-right: 20px;
	color: black;
}

ul li a:hover {
	font-variant: bold;
}

.headshot {
	border: 2px solid black;
	max-width: 300px;
}

header {
	background-color: #fbfbfb;
	position: fixed;
	width: 100%;
	top: 0px;
}

nav {
	  display: inline-block;
    width: 50%;   
}

.navname {
	text-align: left;
	font-variant: medium;
	font-size: 75px;
	font-weight: 50;
	line-height: .5;
}

a:hover {
	opacity: .7;
}


.navname a {
	text-decoration: none;
	color: #000000;
}


.home-main {
	padding-top:100px;
	width:400px;
	text-align: center;
}

.page-title {
	  margin-top: 100px;
    width: 400px;
    text-align: center;
    margin-left: 50px;
    display: inline-block;
}